faiss-cpu
langchain==0.1.14
langchain-google-genai==1.0.1
librosa==0.10.1
Pillow==10.3.0
PyPDF2==3.0.1
python-dotenv==1.0.1
streamlit==1.33.0
streamlit-mic-recorder==0.0.8
streamlit-option-menu==0.3.12
torch==2.2.2
transformers==4.39.3
protobuf>=3.20,<5
